header {
    margin: 0 auto;
    width: 900px;
    padding: 0 1rem;
}
.col-sm-10{
    padding-bottom: 1rem; 
}

.form-group {
    margin-top: 25px;
}

h1{
    text-align: center;
    color: cornflowerblue;
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: 1.5rem;
}

p {
    color: rgb(175, 18, 18);
    text-align: center;
}

#needed1, #needed2, #needed3, #needed4, #needed5 {
    color: red;
    margin-top: 0;
    padding: 0;
    height: 1px;
}

label {
    font-weight: 550;
}
span {
    font-weight: normal;
}